Le KPI est un indicateur de clé de performance afin d'estimer par exemple pour une campagne les retombées de ce qu'il va se passé

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./files/eval_data.csv")

In [3]:
data.head(12)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,10,5,1,Chips and Guacamole,NaN,$4.45
11,11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75

In [4]:
data.shape

(4622, 6)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  3376 non-null   object
 5   item_price          4522 non-null   object
dtypes: int64(3), object(3)
memory usage: 216.8+ KB

In [6]:
data.describe(include="all")

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
count,4622.000000,4622.000000,4622.000000,4622,3376,4522
unique,NaN,NaN,NaN,50,1043,77
top,NaN,NaN,NaN,Chicken Bowl,[Diet Coke],$8.75
freq,NaN,NaN,NaN,726,134,730
mean,2310.500000,927.254868,1.075725,NaN,NaN,NaN
std,1334.400802,528.890796,0.410186,NaN,NaN,NaN
min,0.000000,1.000000,1.000000,NaN,NaN,NaN
25%,1155.250000,477.250000,1.000000,NaN,NaN,NaN
50%,2310.500000,926.000000,1.000000,NaN,NaN,NaN
75%,3465.750000,1393.000000,1.000000,NaN,NaN,NaN
max,4621.000000,1834.000000,15.000000,NaN,NaN,NaN

In [33]:
data[data['quantity'] == data['quantity'].max()]

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
3598,3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25

In [12]:
data['quantity'].sum()

4972

In [34]:
data['item_price'].replace('\$', '', regex=True).astype(float).sum()

34261.16

In [35]:
data['item_price'].replace('\$', '', regex=True).astype(float).mean()

7.57655019902698